@model Marcar_Asistencias.Models.HorariosModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h4>HorariosModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HorarioID" class="control-label"></label>
                <input asp-for="HorarioID" class="form-control" />
                <span asp-validation-for="HorarioID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreHorario" class="control-label"></label>
                <input asp-for="NombreHorario" class="form-control" />
                <span asp-validation-for="NombreHorario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiasLaborables" class="control-label"></label>
                <input asp-for="DiasLaborables" class="form-control" />
                <span asp-validation-for="DiasLaborables" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
