@model proyectometodologias.models.EmpleadosModel

@{
    ViewData["Title"] = "Create Empleados";
}

<h1>Crear Empleados</h1>

<div class="container">
<div class="row">
    <div class="col-md-12">

        <div asp-validation-summary="ModelOnly"></div>

        <form asp-action="Create" onsubmit="return confirmAction();">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label asp-for="Nombre" class="form-label">Nombre: </label>
                <input asp-for="Nombre" type="text" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Apellido" class="form-label">Apellido: </label>
                <input asp-for="Apellido" type="text" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FechaNacimiento" class="form-label">Fecha de nacimiento:</label>
                <input asp-for="FechaNacimiento" type="text" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Departamento" class="form-label">Departamento perteneciente:</label>
                <input asp-for="Departamento" type="text" class="form-control" />
                <span asp-validation-for="Departamento" class="text-danger"></span>
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <a href="@Url.Action("Index", "Empleados")" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <script>
        function confirmAction() {
            if (confirm('¿Estás seguro de agregar este empleado?')) {
                return true; // Si el usuario hace clic en "Aceptar", el formulario se envía al servidor
            } else {
                window.location.href = '@Url.Action("Index", "Empleados")'; // Redirigir al usuario al índice si hace clic en "Cancelar"
                return false; // Devolver false para cancelar el envío del formulario
            }
        }
    </script>
}