<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/images/helado.png" type="image/x-icon">
    <title>@ViewData["Title"] - Marcar_Asistencias</title>

    <!-- CSS files -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/lineicons.css">
    <link rel="stylesheet" href="~/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- End Preloader -->
    <!-- Sidebar -->
    <partial name="~/Views/Shared/Admin/Partials/_Sidebar.cshtml">
        <div class="overlay"></div>
        <!-- End Sidebar -->
        <!-- Main Wrapper -->
        <main class="main-wrapper">
            <!-- Header -->
            <partial name="~/Views/Shared/Admin/Partials/_Header.cshtml">
                <!-- End Header -->
                <!-- Main Section -->
                <section class="section">
                    <div class="container-fluid">
                        <!-- Title Wrapper -->
                        <div class="title-wrapper pt-30">
                            <div class="row align-items-center">
                                <!-- Breadcrumb -->
                               @*  <div class="col-md-6">
                                    <div class="breadcrumb-wrapper">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="#0">Dashboard</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">Page</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div> *@
                                <!-- End Breadcrumb -->
                                <!-- Body Content -->
                                @RenderBody()
                                <!-- End Body Content -->
                            </div>
                        </div>
                        <!-- End Title Wrapper -->
                    </div>
                </section>
                <!-- End Main Section -->
                <!-- Footer -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Copyright -->
                            <div class="col-md-6 order-last order-md-first">
                                <div class="copyright text-center text-md-start">
                                    <p class="text-sm">
                                        Designed and Developed by
                                        <a href="https://plainadmin.com" rel="nofollow" target="_blank">PlainAdmin</a>
                                    </p>
                                </div>
                            </div>
                            <!-- End Copyright -->
                            <!-- Terms -->
                            <div class="col-md-6">
                                <div class="terms d-flex justify-content-center justify-content-md-end">
                                    <a href="#0" class="text-sm">Term & Conditions</a>
                                    <a href="#0" class="text-sm ml-15">Privacy & Policy</a>
                                </div>
                            </div>
                            <!-- End Terms -->
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->
        </main>
        <!-- End Main Wrapper -->
        <!-- JavaScript files -->
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/Chart.min.js"></script>
        <script src="~/js/dynamic-pie-chart.js"></script>
        <script src="~/js/moment.min.js"></script>
        <script src="~/js/fullcalendar.js"></script>
        <script src="~/js/jvectormap.min.js"></script>
        <script src="~/js/world-merc.js"></script>
        <script src="~/js/polyfill.js"></script>
        <script src="~/js/main.js"></script>

        @RenderSection("Scripts", required: false)
</body>
</html>
