@model Marcar_Asistencias.Models.AusenciasModels

@{
    ViewData["Title"] = "Borrar Ausencia";
}

<h1>Delete</h1>

<h3>¿Desea crear la información de este Empleado?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Fecha:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">TipoAusencia:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoAusencia)
        </dd>
        <dt class="col-sm-2">Justificación de la ausencia:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Justificacion)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="IDAusencias" type="hidden" class="form-control" />
        <div class="col-4 offset-2 row">
            <div class="col">
                <button type="submit" class="btn btn-danger w-100"><i class="fa-solid fa-trash"></i> Borrar</button>
            </div>
            <div class="col">
                <a class="btn btn-info w-100" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Volver</a>
            </div>
        </div>
    </form>
</div>
